.Main

  .Info
    .Info__group
      .Info__name
        = @group.name
      %ul.Info__members
        Members:
        - @group.users.each do |user|
          %li.Info__member
            = user.name
    = link_to edit_group_path(@group.id), class: 'Info__edit' do
      Edit

  .Message
    = render @messages

  .Send
    = form_with model: [@group, @message], html: {class: "Send__items"}, local: true do |f|
      .Send__box
        = f.text_field :content, class: 'Send__messsage', placeholder: 'type a message'
        = f.label :image, class: 'Send__image' do
          = icon('far', 'image', class: 'Form__icon')
          = f.file_field :image, class: 'Send__image--hidden'
      = f.submit 'Send', class: 'Send__btn'