.Side

  .User
    .User__items
      %h3.User__name
        = current_user.name
      %ul.User__icons
        %li.User__icon
          = link_to new_group_path, class: 'User__btn' do
            = icon('far', 'edit')
        %li.User__icon
          = link_to edit_user_path(current_user), class: 'User__btn' do
            = icon('fas', 'cog')

  .Group
    - current_user.groups.each do |group|
      .Group__items
        = link_to '#' do
          .Group__name
            = group.name
          .Group__message
            メッセージはまだありません